<div style="margin-top: -60px;">
  <div class="parallax-container">
    <div class="parallax-image rounded-4" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"></div>
    <div class="parallax-shadow rounded-4" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"></div>
    <div class="parallax-text z-2">
      <h2 class="text-light text-end">"Porque <span>nEle</span> vivemos e nos movemos;"</h2>
      <h3 class="text-light text-center">Queremos impactar toda e qualquer pessoa que estiver ao nosso alcance através
        da palavra de Deus e da nossa conduta como servo</h3>
    </div>
  </div>
</div>
