.logo-container-position {
  top: 60px;
  left: 80px;
  z-index: 1002;

  @media (max-width: 768px) {
    top: 0px;
    position: fixed;
  }
}

.logo-container {
  position: absolute;
  transition: all 0.8s ease;

  @media (max-width: 768px) {
    transition: none;
  }

  &.fixed-top {
    position: fixed;
    top: 0;
    left: 30;
  }

  img {
    height: 140px;
    transition: height 0.8s ease;
    opacity: 0;
    animation: slideImgOp 2s ease forwards;
    transform: translate(-40%, 0);

    @media (max-width: 768px) {
      height: 60px; // Ajusta o tamanho da imagem em dispositivos móveis
      transition: none; // Remove a transição em dispositivos móveis
      animation: none; // Remove a animação em dispositivos móveis
      opacity: 1; // Garante que o logo fique visível
      transform: none; // Remove o efeito de tradução para manter a posição
    }
  }

  .small-logo {
    height: 60px;
  }
}

@keyframes slideImgOp {
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
