section {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  min-height: 100vh;
  width: 100%;
}

/* Animação de rolagem suave */
html {
  scroll-behavior: smooth;
}

.page-container {
  padding-top: 60px;
  height: 100%;
  width: 100%;
  margin: 0px;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
