<div class="card-container">
  <div class="card" style="--bs-border-opacity: .5; background-size: cover;"
    [ngStyle]="{'background-image': 'url(' + imgUrl + ')'}">

  </div>
  <div class="card-overlay">
    <div class="card-header glass-backgroud">
      <div class="card-header-text">
        <h3 class="card-title">Quartafeira</h3>
        <span class="card-status">19:30</span>
      </div>
    </div>
    <p class="card-description glass-backgroud">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
      blanditiis?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?
      <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
      blanditiis?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?
    </p>
  </div>
</div>
<!-- <div class="container">
  <div class="top-div" style="background-color: aqua;">

  </div>
  <div class="bottom-div" style="background-color: blue;">

  </div>
</div> -->
