<div class="card-container">
  <div class="card" style="--bs-border-opacity: .5; background-size: cover;"
    [ngStyle]="{'background-image': 'url(' + data.image + ')'}">

  </div>
  <div class="card-overlay">
    <div class="card-header bg-glass">
      <div class="card-header-text">
        <h3 class="card-title">{{ data.title }}</h3>
        <span class="card-status">{{ data.subTitle }}</span>
      </div>
    </div>
    <div class="card-description bg-glass" [innerHTML]="data.content">
    </div>
  </div>
</div>
