<nav class="navbar navbar-expand-lg navbar-dark w-50 ms-auto navbar-original sticky-top z-3"
  [ngClass]="[navbarTop < 20 ? 'glass-navbar' : '']" [ngStyle]="{'top': navbarTop + 'px', 'transition': 'top 0.3s'}">
  <div class="container-fluid justify-content-end">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item slide-in" *ngFor="let item of menuItems">
          <a class="nav-link" href="{{ item.route }}">{{ item.text }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
