<div class="menu-container fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark ms-auto navbar-original"
    [ngClass]="[navbarTop < 20 ? 'glass-navbar' : isMobile ? 'glass-navbar' : '', navbarTop == 0 ? 'fixed-top' : 'sticky-top']"
    [ngStyle]="isMobile? {} : {'top': navbarTop + 'px', 'transition': 'top 0.3s'}">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbar">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item slide-in" *ngFor="let item of menuItems">
          <a class="nav-link btn" (click)="navigate(item)">{{ item.text }}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>