<section>
  <moch-parallax-image></moch-parallax-image>
</section>
<section id="sc1">
  <div class="text-light p-4" style="height: 550px;">
    <h1>Texto Com imagem de fundo</h1>
    Animação com sobrepozissão de imagens (daquele site)
  </div>
</section>
<section id="cultos">
  <moch-cultos></moch-cultos>
</section>
<section id="sc4">
  <div class="text-light" style="height: 550px;">
    <moch-text-change></moch-text-change>
    <h2>Sou a SC 3</h2>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</section>
