<section id="home">
  <moch-parallax-image></moch-parallax-image>
</section>
<section id="sc2">
  <div class="text-light p-4" style="height: 550px;">
    <h1>Texto Com imagem de fundo</h1>
    Animação com sobrepozissão de imagens (daquele site)
  </div>
</section>
<section id="cultos">
  <moch-cultos></moch-cultos>
</section>
<section id="message">
  <div class="testimony-contrainer">
    <moch-message-transition></moch-message-transition>
    <div class="form-container glass-backgroud">
      <form class="row g-3">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Titulo</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Author</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Enviar testemunho</button>
        </div>
      </form>
    </div>
  </div>
</section>
