<section id="home">
  <moch-parallax-image></moch-parallax-image>
</section>
<moch-session-bg [bg]="'glass'" [back-divs]="2" [bg-divs-direction]="'left'">
  <div>
    <p>Texto dentro deste bloco</p>
    <br />
    <br />
    <br />
    <br />
    <p>Teste</p>
  </div>
</moch-session-bg>
<moch-session-bg [fluid]="true" [bg-divs-direction]="'rigth'">
  Segunda session
</moch-session-bg>
<section id="cultos">
  <moch-cultos></moch-cultos>
</section>
<section id="message">
  <div class="testimony-contrainer">
    <moch-message-transition></moch-message-transition>
    <div class="form-container bg-glass">
      <form class="row g-3">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Titulo</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Author</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Enviar testemunho</button>
        </div>
      </form>
    </div>
  </div>
</section>
