/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  background-color: transparent !important;
}

html {
  background-color: rgba(33, 37, 41, 1) !important;
}
