/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  background-color: transparent !important;
  color: #fff !important;
}

html {
  background-color: rgba(33, 37, 41, 1) !important;
}

.glass-backgroud {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
