.loading {
  &-container {
    position: fixed;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 1100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &-border {
    &-last {
      position: absolute;
      width: calc(100% - 15vw);
      height: calc(100% - 15vh);
      border: solid 6px #fff;
      left: 7.5vw;
      top: 7.5vh;
      animation: slideInBLast 12s ease-in-out infinite;
    }

    &-first {
      position: absolute;
      width: calc(100% - 24vw);
      height: calc(100% - 28vh);
      border: solid 6px #fff;
      left: 12vw;
      top: 14vh;
      animation: slideInBfirst 12s ease-in-out infinite;
    }
  }

  &-title {
    &-container {
    }

    &-primary {
      font-size: 10vw;
      text-align: left;
      position: relative;
      animation: slideInRtL 12s ease-in-out infinite;
      text-shadow:
        4px 4px 0 #000,
        -4px 4px 0 #000,
        4px -4px 0 #000,
        -4px -4px 0 #000;

      @media screen and (max-width: 768px) {
        font-size: 12vw;
      }
    }
    &-secondary {
      font-size: 6vw;
      text-align: left;
      margin-top: calc(-7vh);
      animation: slideInLtR 12s ease-in-out infinite;
      text-shadow:
        4px 4px 0 #000,
        -4px 4px 0 #000,
        4px -4px 0 #000,
        -4px -4px 0 #000;

      @media screen and (max-width: 768px) {
        font-size: 7.4vw;
        margin-top: calc(-5vh);
      }

      @media screen and (min-width: 768px) and (max-width: 900px) {
        font-size: 6vw;
        margin-top: calc(-5vh);
      }

      @media screen and (min-width: 901px) and (max-width: 1024px) {
        font-size: 6vw;
        margin-top: calc(-6vh);
      }
    }
  }

  &-sub {
    &-title {
      font-size: 4vw;
      text-align: left;
      margin-top: calc(-4vh);
      margin-left: 7.5vw;
      animation: slideInRtL 12s ease-in-out infinite;
      text-shadow:
        4px 4px 0 #000,
        -4px 4px 0 #000,
        4px -4px 0 #000,
        -4px -4px 0 #000;

      @media screen and (max-width: 768px) {
        font-size: 5vw;
        margin-top: calc(-3vh);
        margin-left: 7vw;
      }

      @media screen and (min-height: 769px) and (max-width: 900px) {
        font-size: 4vw;
        margin-top: calc(-3vh);
        margin-left: 7vw;
      }

      @media screen and (min-width: 901px) and (max-width: 1024px) {
        font-size: 4vw;
        margin-top: calc(-3.5vh);
        margin-left: 7vw;
      }
    }
  }
}

@keyframes slideInRtL {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slideInLtR {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideInBLast {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  30% {
    transform: rotate(-30deg);
    left: 50vw;
    top: 18vh;
    width: calc(20vw);
    height: calc(44vh);
    opacity: 1;
  }
  80% {
    transform: rotateY(-30deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 0;
  }
}

@keyframes slideInBfirst {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  30% {
    transform: rotate(-26deg);
    left: 52.5vw;
    top: 24vh;
    width: calc(15vw);
    height: calc(34vh);
    opacity: 1;
  }
  80% {
    transform: rotateY(-26deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 0;
  }
}
